[webservers]
{% for i in range(var.instance_count) %}
web-{{ i + 1 }} ansible_host={{ yandex_compute_instance.web[i].network_interface[0].nat_ip_address }} fqdn={{ yandex_compute_instance.web[i].hostname != "" ? yandex_compute_instance.web[i].hostname : format("%s.auto.internal", yandex_compute_instance.web[i].name) }}
{% endfor %}

[databases]
main ansible_host={{ yandex_compute_instance.db["main"].network_interface[0].nat_ip_address }} fqdn={{ yandex_compute_instance.db["main"].hostname != "" ? yandex_compute_instance.db["main"].hostname : format("%s.auto.internal", yandex_compute_instance.db["main"].name) }}
replica ansible_host={{ yandex_compute_instance.db["replica"].network_interface[0].nat_ip_address }} fqdn={{ yandex_compute_instance.db["replica"].hostname != "" ? yandex_compute_instance.db["replica"].hostname : format("%s.auto.internal", yandex_compute_instance.db["replica"].name) }}

[storage]
storage ansible_host={{ yandex_compute_instance.storage.network_interface[0].nat_ip_address }} fqdn={{ yandex_compute_instance.storage.hostname != "" ? yandex_compute_instance.storage.hostname : format("%s.auto.internal", yandex_compute_instance.storage.name) }}
